# Игнорировать виртуальное окружение
venv/

# Кэш Python
__pycache__/
*.py[cod]
celerybeat-schedule.db
db.sqlite3
dump.rdb

# Файлы среды
.env

# Логи и временные файлы
*.log
*.pot
*.pyc
*.pyo
*.swp

.Python
env/
venv/
.venv
*.sqlite3
*.db
.git
.gitignore
.idea
.vscode
*.log
*.pot
db.sqlite3
